* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Rubik";
    src: url("Rubik-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("Rubik-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------reset------ */

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* ------/reset------ */

body {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #363853;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.38;
}

.title-red {
    color: #ff7a50;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    color: #ffffff;
    background-color: #ff7a50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
}

button {
    font-size: inherit;
}

img {
    object-fit: contain;
}

/* ------header------- */

.header {
    padding: 20px 0 76px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
}

.menu__link:hover {
    color: #ff7a50;
    transition: all 2s;
}

.user-icons__list {
    display: flex;
    column-gap: 61px;
}

.header__button {
    padding-inline: 28px;
    writing-mode: horizontal-tb;
}

/* ------/header------ */

/* -------hero------- */
.hero {
}
.hero__container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.hero__info {
    width: 530px;
}

.hero__title {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 66px;
    line-height: 78px;
    letter-spacing: 0em;
}
.hero__texts {
    margin-bottom: 44px;
}
.hero__image {
    width: 50%;
}
.button-explore {
    padding-inline: 21px;
    margin-right: 29px;
}
.button-transparent {
    color: #363853;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
}

/* -------/hero------ */

/* ------category------ */

.category {
    padding-top: 124px;
}

.container {
}
.category__title {
    margin-bottom: 54px;
    text-align: center;
}

.category__buttons {
    margin-bottom: 40px;
    align-content: flex-end;
}
.category__buttons-list,
.category__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    text-align: center;
}

.category__button {
    width: 208px;
    color: #363853;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.button-red {
    color: #ffffff;
    background-color: #ff7a50;
}

.category__card {
    width: 208px;
    min-height: 279px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s all;
}

.product-card__title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}
.product-card__price {
    margin-bottom: 11px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}
.product-card__button {
    height: 32px;
    padding-inline: 13px;
}

/* -------/categoty------ */

/* -----delivery------ */
.delivery {
}
.delivery__container {
    display: flex;
    align-items: center;
    column-gap: 137px;
}

.delivery__title {
    margin-bottom: 30px;
}
.delivery__text {
    margin-bottom: 13px;
}
.delivery__list {
    margin-bottom: 50px;
}
.delivery__item {
    margin-bottom: 22px;
}
.delivery__link {
    display: flex;
    text-align: center;
}
.delivery__link svg {
    margin-right: 29px;
}

.delivery__button {
    width: 176px;
    height: 58px;
    border-radius: 30px 30px 1px 30px;
}

/* -----/delivery------ */

/* ------restaurant------ */

.restaurant {
}

.restaurant__title {
    margin-bottom: 50px;
    text-align: center;
}
.restaurant__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
    text-align: center;
}

.restaurant-card {
    text-align: left;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-card__title {
    margin-bottom: 14px;
}

.restaurant-card__time {
    margin-right: 30px;
}
.restaurant-card__button {
    width: 79px;
    height: 33px;
}

/* ------/restaurant------- */

/* ------download------ */

.download {
}
.download__container {
    display: flex;
   align-items: center;
    column-gap: 10px;
}

.download__info {
    max-width: 538px;
}
.download__title {
    margin-bottom: 30px;
}

.download__text {
    margin-bottom: 30px;
}

.download__link-img--apple {
    margin-right: 35px;
}


/* ------/download------- */

/* ------reviews------ */
.reviews {
    margin-bottom: 125px;
}

.reviews__title {
    margin-bottom: 67px;
    text-align: center;
}

.reviews__content {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.reviews__info {
    width: 573px;
}

.reviews__quotes--top {
    position: relative;
    right: 50px;
    top: 40px;
}

.reviews__quotes--bottom {
    position: relative;
    left: 500px;
    bottom: 20px;
}

.reviews__botttom {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.reviews__name {
    margin-bottom: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #ff7a50;
}
.reviews__comment {
    font-size: 14px;
    line-height: 1.1;
}

.reviews__arrow--left {
    margin-right: 54px;
}

/* ------/reviews------ */